<!DOCTYPE html>
<html data-ng-app="memoryGameApp">
<head>
	<meta 
	charset="utf-8" />
	<title>Clicker</title>

	<link href="style.css" rel="stylesheet" />
	<script src="angular.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
</head>
<body data-ng-controller="gameCtrl">

	<section 
	id="menu"
	data-ng-hide="!game.showMenu">
		<div id="title">Memory Mastery</div>
		<div class="option">
			<div class="optTitle">Difficulty</div>
			<div 
			data-ng-repeat="option in optionConstruct"
			data-ng-click="option1($index)"></div>
		</div>
		<div class="option">
			<div class="optTitle">Size</div>
			<div 
			data-ng-repeat="option in optionConstruct"
			data-ng-click="option1($index)"></div>
		</div>
		<div 
		id="start"
		data-ng-click="changeViews(false)">Start</div>
	</section>
	<section 
	id="game"
	data-ng-hide="!game.showBoard">		
		<div
		class="row" 
		data-ng-repeat="items in game.grid">
			<div
			class="tile"
			data-ng-repeat="item in game.grid"
			data-ng-class="{selected : game.grid[$parent.$index][$index]}"
			data-ng-click="clickTile($parent.$index, $index)"></div>
		</div>
	</section>
	<h1 id="message">{{game.message}}</h1>
	<section
	id="retry"
	data-ng-hide="!game.showRetry">
		<div>Game Over</div>
		<div
		id="continue"
		data-ng-click="changeViews(false)">Retry</div>
		<div 
		id="backToMenu"
		data-ng-click="changeViews(true)">Back To Menu</div>
	</section>
</body>
</html>

<!--data-ng-style="randomColor()"-->