#menu {
	position: absolute;
	background-color: #000;
	div {
		width: 100%;
	}
	#title {
		color: #FFF;
		font-weight: 500;
		background-color: #111;
	}
	.option {
		height: 150px;
		background-color: #AAA;
	}
	#start {
		height: 150px;
		font-weight: 350;
		background-color: #222;
	}
}

#retry {
	
}

#game {
	position: absolute;
	.row {
		height: 200px;
		position: relative;
	}
	.tile {
		margin: 1px;
		border: 1px solid black;
		display: inline-block;
		height: 200px;
		width: 200px;
	}
}

#message {
	position: absolute;
	font-size: large;
	color: black;
	margin: auto;
}